{
	"presets": [
		["env", {
			"targets": {
				"browsers": ["last 2 versions", "not ie <= 10"],
				"node": "current"
			},
			"useBuiltIns": true,
		}],
	],
	"plugins": [
		"lodash",
		"transform-object-rest-spread"
	]
}
