{
    "parser": "babel-eslint",
    "extends": [
        "wpcalypso",
    ],
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "rules": {
        "camelcase": 0,
        "max-len": [ 2, { "code": 140 } ]
    }
}
